:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --titel-text-color: #212121;
  --titel-accent-bg-color: #ffffff;
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #e5e5e5;
  --secondary-bg-color: #f5f4fa;
  --hero-footer-bg-color: #2f303a;
  --dark-accent-color: #000000;
  --bright-accent-color: #2196f3;
  --bg-accent-color: #188ce8;
  --border-color: #EEEEEE;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*===Page bg===*/
.background-color {
  color: var(--primary-bg-color);
}
.header {
  background-color: var(--titel-accent-bg-color);
}
.logo-accent {
  color: var(--bright-accent-color);
}
.hero {
  background-color: var(--hero-footer-bg-color);
}
.modal-button {
  color: var(--titel-accent-bg-color);
  background-color: var(--bright-accent-color);
}
.footer {
  background-color: var(--hero-footer-bg-color);
}

.contact-map,
.contact-dark-bg {
  font-style: normal;
}
.contact-bright-bg {
  color: var(--primary-text-color);
}
.contact-dark-bg {
  color: var(--secondary-text-color);
}
.option-button {
  color: var(--titel-text-color);
  background-color: var(--secondary-bg-color); 
}
img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ======== HEADER ======== */
.header {
  padding: 24px 0;
}
.header .container {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
}
.sublist {
  display: flex;
}
.sublist {
  margin-left: auto;
}
.sublist-item-tel {
  margin-left: 50px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.191;
  letter-spacing: 0.03em;
  color: var(--dark-accent-color);
  margin-right: 94px;
}
.navigation-list-link {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
}
.contact-bright-bg {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.navigation-list-link:hover,
.navigation-list-link:focus,
.contact-bright-bg:hover,
.contact-bright-bg:focus {
  color: var(--bright-accent-color);
}
.navigation .navigation-list-link.current {
  color: var(--bright-accent-color);
}

/* ======== END HEADER ======== */

/* ======== HERO-Section 1======== */
.hero {
  height: 600px;
}

.hero .container {
  text-align: center;
  padding: 200px 0;
}
.hero-headline {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--titel-accent-bg-color);
  margin-bottom: 30px;
}

.modal-button {
  display: inline-block;
  padding: 10px 32px;
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  border: 1px solid transparent;
  border-radius: 4px;
  min-width: 200px;
  min-height: 50px;
  
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--bg-accent-color);
}

/* ======== END HERO-Section1 ======== */

/* ======== FEATURES-Section2 ======== */
.features {
  padding: 94px 0 0;
}
.features-list {
  display: flex;
}

.features-list-item:not(:last-child) {
  margin-right: 30px;
}

.features-list-topic {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--titel-text-color);
}
.futures-list-item {
  width: 270px;
}
.features-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  width: 270px;
  height: 75px;
  margin-top: 10px;
}
/* ======== END FEATURES-Section2 ======== */

/* ======== ABOUT-Section 3 ======== */
.about {
  padding: 94px 0;
}
.about-desc {
  margin-bottom: 50px;
}
.about-desc-item:not(:last-child) {
  margin-right: 30px;
}
.about-desc-list {
  display: flex;
}
.about-desc {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  color: var(--titel-text-color);
}
/* ======== END ABOUT-Section 3 ======== */

/* ======== TEAM-Section 4 ======== */

.team {
  background-color: var(--secondary-bg-color);
  padding-top: 94px;
  padding-bottom: 94px;
}
.team-staff {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--titel-text-color);
  margin-bottom: 50px;
}
.staff-list {
  display: flex;
}
.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.staff-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--titel-text-color);
  margin-bottom: 10px;
}
.staff-spetiality {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}
.staff-img {
  margin-bottom: 30px;
}
.staff-name {
  margin-bottom: 10px;
}

/* ======== END TEAM-Sectio 4 ======== */

/* ======== FOOTER ======== */
.footer {
  height: 252px;
}
.logo-titel {
  padding-top: 60px;
  margin-bottom: 20px;
}
.logo-footer {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.191;
  letter-spacing: 0.03em;
  color: var(--titel-accent-bg-color);  
}
.map-container,
.mail-container {
  margin-bottom: 10px;
}
.contact-dark-bg,
.contact-map {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.713;
  letter-spacing: 0.03em;
}
.contact-map {
  color: var(--titel-accent-bg-color);
}

.contact-map:hover,
.contact-map:focus,
.contact-dark-bg:hover,
.contact-dark-bg:focus {
  color: var(--bright-accent-color);
}

/* ======== END FOOTER ======== */

/* ======== PORTFOLIO-Filter-Buttons ======== */
.option-button {
  padding: 6px 22px;
  min-width: 73px;
  

  font-family: var(--main-font);
  font-weight: 500;
  border-radius: 4px;
  border: 1px solid transparent;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
}

.option-button:hover,
.option-button:focus {
  color: var(--titel-accent-bg-color);
  background-color: var(--bright-accent-color);
}
.option-list .option-button.current {
  color: var(--titel-accent-bg-color);
  background-color: var(--bright-accent-color);
}
.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
} 

.option-list {
  justify-content: center;
  display: flex;
  margin-bottom: 34px; 
}
.option-list-item:not(:last-child) {
  margin-right: 8px;
}


/* ======== END PORTFOLIO-Filter-Buttons ======== */

/* ======== PORTFOLIO-PROJECTS-GALLERY-list ======== */
.projects-list {
  font-size: 0;
}

.projects-list-item {
  width: 370px;
  display: inline-block;
  background: var(--titel-accent-bg-color);
  border: 1px solid var(--border-color);
}

.projects-list-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.projects-list-item:not(:nth-last-child(-n+3)) {
  margin-bottom: 30px;
}

.projects-desc {
  padding: 20px 24px;
}

.projects-name {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titel-text-color);
}

.projects-typ {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}





/* ======== END PORTFOLIO-PROJECTS-GALLERY-list ======== */
